/* src/index.css */
html, body {
  height: 100%;
  margin: 0;
  background-color: #d8d4d4;
  font-family: sans-serif;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
